@import "../abstracts/variables";
.footer {
  font-size: 1.4rem;
  background-color: $black_color;
  padding: 6rem 0;
  color: $white-color;
  @include respond(lab-port) {
    padding: 5rem 0;
  }
  &__logo-box {
    picture {
      width: 25rem;
      img {
        margin: 0 auto;
        // width: 55rem;
        height: 27rem;
      }
    }
  }
  .row > div > * {
    display: inline-block;
    border-top: 1px solid $gray-color !important;
    padding-top: 1.5rem;
    @include respond(lab-port) {
      border: none !important;
    }
  }
  .row {
    text-align: center !important;
    & [class^="col"] {
      width: 100%;
      float: none;
    }
  }

  .row > div {
    @include respond(lab-port) {
      text-align: center;
    }
  }
  &__list {
    margin: 0 auto !important;
    font-size: inherit;
    li {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 1.5rem;
        @include respond(lab-port) {
          margin-right: 1rem;
        }
      }
    }
  }
  a {
    font-size: inherit;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.3) skewY(5deg);
      box-shadow: 0 0.5rem 1rem rgba(#000000, 0.25);
      color: $light-orange;
      background-color: $gray-color-3;
    }
  }
  &__licenses {
    @include respond(lab-port) {
      text-align: center;
      float: none !important;
    }
  }
}
.u-margin-top-big {
  margin-top: -3rem !important;
}
