@keyframes move-right {
  0% {
    transform: translateX(-15rem) translateY(-0.5rem);
    opacity: 0;
  }
  80% {
    transform: translateX(2.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes move-left {
  0% {
    transform: translateX(15rem) translateY(1.5rem);
    opacity: 0;
  }
  80% {
    transform: translateX(-2.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes move-top {
  0% {
    transform: translateY(20rem);
    opacity: 0;
  }
  80% {
    transform: translateY(-2.5rem);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
