@import "../abstracts/variables";
@import "../abstracts/mixins";
body {
  font-size: $default-font-size;
  font-family: "Lato", sans-serif;
  color: $gray-color;
  font-weight: 400;
  line-height: 1.7;
}
.heading {
  &--primary {
    color: $white-color;
    backface-visibility: hidden;
    margin-bottom: 6rem;
    text-transform: uppercase;
    &--main {
      display: block;
      font-size: 6rem;
      letter-spacing: 1.5rem;
      font-weight: 400;
      animation: move-right 1s $main-animation-function;
      @include respond(lab-port) {
        font-size: 9rem;
        letter-spacing: 0.75rem;
        margin-bottom: 15px;
      }
    }
    &--sub {
      display: block;
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 0.75rem;
      padding-left: 0.5rem;
      animation: move-left 1s $main-animation-function;
      @include respond(lab-port) {
        letter-spacing: 0.5rem;
      }
    }
  }
  &--secondary {
    @include linearGradient($Light-green, $Dark-green);
    display: inline-block;
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    transition: all 0.2s $main-animation-function;
    font-weight: 700;
    letter-spacing: 0.2rem;
    @include respond(lab-land) {
      font-size: 3rem;
    }
    @include respond(lab-port) {
      font-size: 2.5rem;
    }
    &:hover {
      transform: skewY(2deg) skewX(5deg) scale(1.1);
      text-shadow: 0.5rem 1rem 1.5rem rgba(#000000, 0.2);
    }
  }
  &--secondary__s {
    @include linearGradientSecondary($light-orange, $Dark-orange);
  }
  &--thirty {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
  }
  &--fourthly {
    font-weight: 300;
    text-transform: uppercase;
  }
}
